[defaults]
inventory = inventory
retry_files_enabled = False
roles_path = roles
host_key_checking = False
timeout = 60

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=300s -o ConnectTimeout=60 -o IdentitiesOnly=yes
pipelining = True
scp_if_ssh = True
