{{ kernel_version_string.stdout }}
 _____             _
|__  /___ __ _ ___| |__
  / // __/ _` / __| '_ \
 / /| (_| (_| \__ \ | | |
/____\___\__,_|___/_| |_|

Hostname: {{ ansible_fqdn }}
IP address: {{ ansible_default_ipv4.address }}

